header {
  height: 60px;
  background-color: rgb(44,62,80);
}

.navbar a {
  color: white !important ;
}

.hamburger {
  border: 1px solid rgba(177,181,186, .5) !important;
}

.capital {
  text-transform: uppercase;
  font-weight: 600;
}

.gs-jumbo {
  background-color: rgb(26,188,156);
  color: white;
  padding-top: 80px;
}

.job {
  font-size: 18px;
  font-weight: 600;
}

.stella /*questa andrà tolta*/ {
  width: 200px; 
  margin: 0 auto;
}

.gs-container-80 {
  width: 80%;
  margin: 0 auto;
}

.gs-box img {
  width: 100%;
  border-radius: 10px;
}


